
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        REG
    </title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/app.css">
</head>
<body ng-app="eventsApp" ng-cloak>

<div class="container" ng-controller="CookieCtrl">
    <button class="btn btn-primary" ng-click="saveEventToCookie(event)">save</button>
    <br><br><br>
    <button class="btn btn-primary" ng-click="getEventToCookie()">get</button>
    <br><br><br>
    <button class="btn btn-primary" ng-click="removeEventToCookie()">remove</button>
</div>

<script src="lib/jquery.min.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/angular.min.js"></script>
<script src="lib/angular-sanitize.min.js"></script>
<script src="lib/angular-cookies.min.js"></script>
<script src="lib/angular-resource.min.js"></script>
<script src="js/app.js"></script>
<script src="js/duration.js"></script>
<script src="controller/CookieCtrl.js"></script>
</body>
</html>