<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        EVENT RESESTRATION ANGULAR APP
    </title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/app.css">
    <link rel="icon" href="./css/glyphicons-halflings-regular.svg">
</head>
<body ng-app="eventsApp">

    <div class="container">
        <div class="navbar">
            <ul class="nav">

            </ul>
        </div>
    </div>


    <div ng-controller="EventCtrl" class="container evt">
        <div class="row">
            <div   class="col-md-12">
                <img ng-src="{{event.img}}" alt="{{event.name}}">
            </div>
            <div   class="col-md-6">
                <h1><strong>{{event.name}}</strong></h1>
                <h2>{{event.version}}</h2>
                <h2>{{event.author}}</h2>
                <h3>mail to <a href="mailto:{{event.email}}">me</a></h3>
            </div>
            <hr>
            <div   class="col-md-6">
                <h1><strong>my Address</strong></h1>
                <p>{{event.location.address}}</p>
                <p>{{event.location.city}}</p>
                <p>{{event.location.state}}</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h1>SESSIONS</h1>
                <div class="row" ng-repeat="sessions in event.sessions">
                    <div class="evnts col-lg-1">
                        <span class="glyphicon glyphicon-chevron-up up" ng-click="voteAdd(sessions)"></span>
                        <h3 class="cntr">{{sessions.upVote}}</h3>
                        <span class="glyphicon  glyphicon-chevron-down down" ng-click="voteSub(sessions)"></span>
                    </div>

                    <div class="thumbnail evnts col-lg-10">
                        <h1>NAME: {{sessions.name}}</h1> <br>
                        <p>CREATOR: {{sessions.creator}}</p> <br>
                        <p>DURATION: {{sessions.duration}}</p> <br>
                        <p>LEVEL: {{sessions.level}}</p> <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <!--script src="lib/angular.js"></script-->
    <script src="js/app.js"></script>
    <script src="controller/EventCtrl.js"></script>
</body>
</html>